<div class="row">
  <div class="side">
    <h2>Sobre</h2>
    <h5>Minha imagem</h5>
    <div class="amostraDeImg" style="height:200px;">Img</div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ex ipsam,
      hic enim ea quam voluptatem obcaecati natus temporibus modi consequuntur
      ipsum quidem est, voluptatum, debitis incidunt. Voluptas, fugit ipsa?
    </p>
    <h3>Texto</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem distinctio
      explicabo tempore? Magnam, corporis nulla non quo rerum fugiat eum hic
      porro neque, voluptate totam quasi iusto, cumque laboriosam excepturi?</p>
    <div class="amostraDeImg" style="height:60px;">Img</div><br />
    <div class="amostraDeImg" style="height:60px;">Img</div><br />
    <div class="amostraDeImg" style="height:60px;">Img</div>
  </div>
  <div class="principal">
    <h2>TÍTULO</h2>
    <h5>Descrição do título, 5 de Setembro de 2022</h5>
    <div class="amostraDeImg" style="height:200px;">Img</div>
    <p>Algum texto..</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem laborum
      optio quod labore laboriosam itaque, error nemo officia quibusdam libero
      quisquam culpa amet cupiditate atque nihil beatae quasi dolor autem?</p>
    <br />
    <h2>TÍTULO</h2>
    <h5>Descrição do título, 2 de setembro de 2022</h5>
    <div class="amostraDeImg" style="height:200px;">Img</div>
    <p>texto</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, quam
      velit minus possimus ad molestiae obcaecati in! Numquam accusantium
      assumenda, distinctio, ipsam eos incidunt repellendus earum cumque
      nesciunt doloremque molestiae.</p>
  </div>
</div>